<!doctype html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link   rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/footerFixed.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/chat.js"></script>
    <script type="text/javascript" src="/javascripts/room.js"></script>
   <script type="text/javascript">
        $(document).ready( function() {
            $("#comment").keydown(function(event) {
              if ( event.which == 13 ) {
                $("#send").click();
                return false;
              }
            });           
            $("#send").click(function () {
                send('<%= roomId %>', 'hogehoge');
            });
            $("#create").click(function(){
                createRoom();
            });
            init('<%= roomId %>');
        });
        function join_to_room(roomName) {
            subscribe(roomName);
        }
        function leave_from_room(roomName) {
            unsubscribe(roomName);
        }
    </script>
</head>
<body>
    <h3 class="selector03"><%= title %> #<%= roomId %></h3>
    <div id="chatMessages"> 
    <!-- ここに受信メッセージを追加 -->
    </div>
    <div id="footer">
    <a href="/">Lobyへ戻る</a>
    <form action="#">
        <div style="text-align : center ;">
        <input id="comment" style="width:220px;" type="text" value="" placeholder="メッセージ" /> 
        <input id="send" type="button" value="send" />
        </div>
    </form>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- レスポンシブAd -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9243794448018866"
     data-ad-slot="4321485803"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
</body>
</html>
