<!doctype html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <link   rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/chat.js"></script>
    <script type="text/javascript" src="/javascripts/room.js"></script>
    <script type="text/javascript">
        $(document).ready( function() {
            $("#create").click(function(){
                createRoom();
            });
        });
    </script>
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <h2>近所のルーム</h2>
    <img src="<%= image_url %>" height=48 width=48/>
    <div id="roomList" style="padding-left:30px;height:100px;overflow:scroll"> 
    <!-- ここにルーム一覧を追加 -->
    </div>
    <form name="createRoom" action="#">
        <input id="roomName" type="text" value="" placeholder="いま何してる?"/>
        <input id="create" type="button" value="create" />
    </form>
</body>
</html>
