<!doctype html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link   rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/footerFixed.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/chat.js"></script>
    <script type="text/javascript" src="/javascripts/room.js"></script>
    <script type="text/javascript">
        $(document).ready( function() {
            $("#create").click(function(){
                createRoom();
            });
        });
    </script>
    <title><%= title %></title>
<!-- Google Analytics Code Start -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42580035-4', 'auto');
  ga('send', 'pageview');

</script>
<!-- Google Analytics Code End -->

</head>
<body>
    <h3 class="selector03"><%= title %></h1>
    <img src="<%= image_url %>" height=48 width=48/>
    <div id="roomList" style="padding-left:30px;height:100px;overflow:scroll"> 
    <!-- ここにルーム一覧を追加 -->
    </div>
    <div id="footer">
    <form name="createRoom" action="#">
        <div style="text-align : center ;">
        <input id="roomName" type="text" value="" placeholder="いま何してる?"/>
        <input id="create" type="button" value="create" />
        </div>
    </form>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- レスポンシブAd -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9243794448018866"
     data-ad-slot="4321485803"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
</body>
</html>
