<!doctype html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link   rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
</head>
<body>
	<div style='position:absolute; width:100%; text-align:center;'>
	<img src="/images/nearby-chat-icon.png" style="margin:30px; width: 256px; height: 256px;"><br>
	<a href="/auth/twitter"><img src="/images/sign-in-with-twitter-link.png" alt="Sign in with Twitter"></a>
	</div>
</body>


</html>
