<!doctype html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link   rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
</head>
<body>
	<h2>Login</h2>
	<a href="/auth/twitter">Sign in with Twitter</a>
</body>


</html>
