body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
blockquote {
  margin: 0 0 10px 0;
  padding: 0;
  width: 250px;
  background: #e3e3e3;
  padding: 25px;
  border-radius: 10px;
  word-wrap: break-word;
  position: relative;
}
blockquote .arrow {
/* 吹き出しの部分 */
  width: 0;
  height: 0;
  line-height: 0;
  border-top: 15px solid #e3e3e3;
  border-left: 15px solid #fff;
  border-right: none;
  position: absolute;
  bottom: 60%;
  left: -15px;
}
