body
	padding: 3px 5px
	font: 16px "Lucida Grande", Helvetica, Arial, sans-serif

a
	color: #00B7FF
blockquote
	margin: 0 0 0 0; padding: 0; 
	width: 210px;
	background: #e3e3e3;
	padding: 25px; 
	border-radius: 10px;
	word-wrap:break-word;
	position: relative;
	float: right;

blockquote .arrow
	/* 吹き出しの部分 */
	width: 0; 
	height: 0; 
	line-height: 0; 
	border-top: 15px solid #e3e3e3; 
	border-left: 15px solid white;  
	border-right: none;
	position: absolute; 
	bottom: 60%; 
	left: -15px; 

#chatMessages
	padding-left:3px;
	width:315;
	height:300px;
	overflow:scroll;

.dateTime
		font-size: x-small;
		float:right;

.bubble
	clear: both;
	content: "";

.icon
	float:left;
	padding-top:10px;
	width:50px;
	height:50px;

.icon_img
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

h1,h2,h3
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;

.selector03
	border-left:7px solid #ccc;  
	border-bottom:1px dashed #ccc;  
	padding:.3em .8em;

